{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-4">Upload de Arquivo CSV</h1>
      <div class="card shadow">
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid mt-3">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        {% if error %}
            <div class="alert alert-danger mt-3">{{ error }}</div>
        {% endif %}
        </div>
      </div>
      <div class="mt-4 text-center">
        <small class="text-muted">Aceitamos apenas arquivos no formato CSV.</small>
      </div>
    </div>
  </div>
</div>
{% endblock %}
